---
import Layout from "../layouts/Layout.astro"

---

<Layout>
    <main class="container mt-6">
        <h1>404: Not Found</h1>
        <p class="my-4">It's gone 😞</p>
        <a
            class="link"
            href="/">
      Go to home page
        </a>
    </main>
</Layout>
