---
import ContactForm from "../components/ContactForm.astro"
import Download from "../components/Download.astro"
import Header from "../components/Header.astro"
import LandingText from "../components/LandingText.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout>
    <Header />
    <main class="pt-8">
        <LandingText />
        <Download />
        <ContactForm />
    </main>
</Layout>
