---
import Badges from "./Badges.astro"
---
<section class="container pt-6">
    <h2 id="download-the-app">Download the App</h2>
    <p>
        So, are you ready to take your gym sessions to the next level? Download
        Log4Fit today and join our community of fitness enthusiasts who are
        determined to exceed their limits, one rep at a time.markdown.
    </p>
    <Badges />
</section>
