<footer class="bg-black mt-8 mb-0 py-3">
    <div class="container">
        <p class="my-0 text-white">
            © - Denis
            <a href="https://miskamyasa.me">‹MiskaMyasa›</a>
            Zaitsev
        </p>
    </div>
</footer>
