<article class="container">
    <p>
        Welcome to Log4Fit, the React Native app designed to revolutionize your
        gym sessions. With an intuitive and self-learning interface, our app is
        here to help you track your progress, stay motivated, and push your
        limits like never before.
    </p>
    <h2 id="core-functionality">Core Functionality</h2>
    <p>
        At its core, Log4Fit focuses on minimal functionality, allowing you to
        easily log your workouts without any unnecessary complexities. But
        that's just the beginning - We have big plans to expand the app's
        capabilities based on your feedback and requirements.
    </p>
    <h2 id="visualize-your-fitness-journey">Visualize Your Fitness Journey</h2>
    <p>
        One exciting future feature is the ability to transform your workout
        history into meaningful progress graphs. Imagine being able to visualize
        your fitness journey, identifying trends, and celebrating your
        achievements. With this added functionality, you'll have a clear
        understanding of how far you've come and what goals to set next.
    </p>
    <h2 id="convenient-timer-feature">Convenient Timer Feature</h2>
    <p>
        Additionally, We know that rest periods between sets are crucial in
        determining the effectiveness of your workout. That's why We are also
        working on integrating a convenient timer feature that will make it easy
        for you to time your breaks. No more guesswork, just perfect timing for
        optimized performance.
    </p>
    <h2 id="designed-for-gym-enthusiasts">Designed for Gym Enthusiasts</h2>
    <p>
        My target audience is specific, catering to those who understand the
        challenges of pushing your limits in the gym. Whether you're struggling
        to complete a workout or looking to push yourself further, Log4Fit is
        here to support you. Unlike other apps, we don't limit you to pre-defined
        exercise lists. Instead, you have the freedom to add exercises on the
        go. If you successfully complete a set, record it. If not, simply move
        on. Our app seamlessly adapts to your workout style, making it ideal for
        split approaches like biceps and triceps, where you can switch between
        exercises effortlessly with a quick swipe.
    </p>
    <h2 id="easy-set-recording">Easy Set Recording</h2>
    <p>
        With Log4Fit, recording your sets is a breeze, requiring just two simple
        clicks. we believe in keeping things minimal, allowing you to focus on
        what matters most - your workout.
    </p>
</article>
