---
import "@fontsource/rubik/variable.css"
import "./global.css"

import Head from "./Head.astro"

---

<!doctype html>
<html lang="en">
    <Head />
    <body>
        <script
            async
            data-ackee-domain-id="d8cd7df1-08db-40c8-9904-38cc7198471f"
            data-ackee-server="https://ackee.paragraph.red"
            src="https://ackee.paragraph.red/somethinguseful.js"
        ></script>
        <slot />
    </body>
</html>
